body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

table {
    border-spacing: 1.0em 0.5em;
}

th {
    text-align: left;
}

.appcontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.appheader {
    padding: 0.5em;
}


.appcontent {
    display: flex;
    flex-direction: row;
    height: 97vh;
}

.microserviceMindmap, .microserviceFilterbox {
    border-style: solid;
    border-radius: 0;
    border-width: 2px;
    border-color: #5793ec;
    margin: 0.5em;
}

.microserviceMindmap {
    flex-grow: 2;
    display: flex;
    position: relative;
}

.vizContainer {
    flex-grow: 5;
}

.debugContainer {
    overflow: scroll;
    max-height: 89%;
    width: 20em;
}

.microserviceFilterbox {
    padding: 0.5em;
}

.contextMenu {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    border: darkgray;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em;
}

.contextMenu button {
    margin-bottom: 0.5em;
}

.contextMenu button:last-child {
    margin-bottom: 0em;
}

.contextMenu[hidden] {
    display: none;
}
