body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.appcontainer {
    display: flex;
    flex-direction: row;
}

.microserviceMindmap, .microserviceList, .microserviceMenu {
    border-style: solid;
    border-radius: 0.5em;
    border-color: #5793ec;
    margin: 0.5em;
}

.microserviceMindmap {
    flex-grow: 2;
}

.microserviceRightPanel {
    width: 50em;
    flex-direction: column;
}

.microserviceMenu {
    padding: 0.5em;
}

.microserviceListEntry.selected {
    font-style: italic;
    font-weight: bold;
}

.contextMenu {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    border: darkgray;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em;
}
.contextMenu button {
    margin-bottom: 0.5em;
}
.contextMenu button:last-child {
    margin-bottom: 0em;
}
.contextMenu[hidden] {
    display: none;
}