{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["jest"],
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true,
    "jest": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "vis": true
  },
  "settings": { "import/resolver": { "node": { "paths": ["src"] } } } ,
  "rules": {
    "comma-dangle": [2, "never"],
    "react/jsx-filename-extension": [
      2, {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-tabs": [0],
    "max-len": [0],
    "no-confusing-arrow": "off",
    "jsx-a11y/no-static-element-interactions": [0],
    "arrow-parens": [0, "as-needed"],
    "no-else-return": [1],
    "react/no-array-index-key": [0],
    "react/jsx-wrap-multilines": [0],
    "no-unused-expressions": [0, "allowShortCircuit"],
    "no-param-reassign": [0, {"props": false}],
    "newline-per-chained-call": ["error", {"ignoreChainWithDepth": 6}],
    "react/jsx-tag-spacing": [
      2, {
        "closingSlash": "never",
        "beforeSelfClosing": "allow",
        "afterOpening": "never"
      }
    ],
    "padded-blocks": [0],
    "react/forbid-prop-types": [0, {"forbid": ["<any>"]}]
  }
}
